*.bak
*.bku
*.cache
*.data
*.dll
*.ldb
*.log
*.pdb
*.projdata
*.suo
*.tgs
*.tgw
*.user
*.webinfo
*.xsc
*.xsx
Thumbs.db

_ReSharper.*
_vti_cnf
_vti_pvt
_vti_script
_vti_txt
bin/
Debug/
[Aa]ssemblyInfo.cs
obj/
out/
PrecompiledWeb/
Release/
temp/
tmp/
